@model Contact;

<div class="row   justify-content-center ">
    <div class="w-50">
        <h2 class="text-center"> @ViewData["Text"] Contacto</h2>
        <form method="post" asp-action="@ViewData["Action"]" class="row align-self-center gap-2">
            @Html.AntiForgeryToken()
            <div class="row">
                <label for="Nombre" class="form-label">Nombre</label>
                <input class="form-control" asp-for="Name" type="text"/>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <label for="Nombre" class="form-label">Email</label>
                <input class="form-control" asp-for="Email" type="email"/>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <label for="Nombre" class="form-label">Teléfono</label>
                <input class="form-control" asp-for="Phone" type="tel"/>
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <label for="Nombre" class="form-label">Teléfono Fijo</label>
                <input class="form-control" asp-for="ResidencialPhone" type="tel"/>
                @Html.ValidationMessageFor(model => model.ResidencialPhone, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <label for="Nombre" class="form-label">Teléfono de trabajo</label>
                <input class="form-control" asp-for="WorkPhone" type="tel"/>
                @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
            </div>

            <div class="row  mt-3 gap-3">
                @Html.ActionLink("Cancelar", "Index", "Contact", null, new { @class = "btn btn-danger col", @style = "width: fit-content;" })
                <button class="btn btn-primary col" type="submit">@ViewData["Text"]</button>
            </div>
        </form>
    </div>
</div>